@font-face {
  font-family: 'iconfont'; /* Project id 3141493 */
  src: url('../fonts/iconfont.woff2') format('woff2');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
  content: '\e84e';
}

.icon-angle-left:before {
  content: '\e84f';
}

.icon-wenjianguanli:before {
  content: '\e61b';
}

.icon-rili:before {
  content: '\e789';
}

.icon-dengpao:before {
  content: '\e61a';
}

.icon-shuji:before {
  content: '\e6cc';
}

.icon-im_naozhong:before {
  content: '\e602';
}

.icon-lianxi2hebing_dayin:before {
  content: '\e633';
}

.icon-18erji-2:before {
  content: '\e688';
}

.icon-xiugaidingdan:before {
  content: '\e8f2';
}

.icon-youshuangjiantou:before {
  content: '\e638';
}

.icon-dingdan1:before {
  content: '\e632';
}

.icon-a-30Byoushuangjiantou:before {
  content: '\e68f';
}

.icon-tianchongxing-:before {
  content: '\e631';
}

.icon-jurassic_role:before {
  content: '\e6a1';
}

.icon-qiehuan:before {
  content: '\e62f';
}

.icon-buzan:before {
  content: '\e64c';
}

.icon-zan1:before {
  content: '\e618';
}

.icon-110fangxiang_xiangxia2:before {
  content: '\e630';
}

.icon-icon_jubao-mian:before {
  content: '\e660';
}

.icon-fenxiang:before {
  content: '\e72f';
}

.icon-aixin:before {
  content: '\e8c3';
}

.icon-pinglun:before {
  content: '\e8c5';
}

.icon-fangdajing:before {
  content: '\e687';
}

.icon-xiazai43:before {
  content: '\e619';
}

.icon-youjiantou:before {
  content: '\e612';
}

.icon-shu:before {
  content: '\e69f';
}

.icon-shijian:before {
  content: '\e8c6';
}

.icon-weixin:before {
  content: '\e620';
}

.icon-weibo:before {
  content: '\e666';
}

.icon-lianjie:before {
  content: '\e706';
}

.icon-xiaoxi1:before {
  content: '\e614';
}

.icon-yanjing:before {
  content: '\e616';
}

.icon-shanchu:before {
  content: '\e600';
}

.icon-biaoqing:before {
  content: '\e601';
}

.icon-shezhi:before {
  content: '\e8b8';
}

.icon-xiajiantou:before {
  content: '\eb6d';
}

.icon-tupian_huaban:before {
  content: '\e62e';
}

.icon-xiugai:before {
  content: '\e617';
}

.icon-jiahao:before {
  content: '\e603';
}

.icon-guanbi:before {
  content: '\e62b';
}

.icon-OTHER:before {
  content: '\ea31';
}

.icon-keji:before {
  content: '\e62a';
}

.icon-icon-test:before {
  content: '\e656';
}

.icon-qianbi:before {
  content: '\e7b2';
}

.icon-workexp:before {
  content: '\e627';
}

.icon-outsideexp:before {
  content: '\e628';
}

.icon-educationexp:before {
  content: '\e629';
}

.icon-honorexp:before {
  content: '\e62c';
}

.icon-summary:before {
  content: '\e62d';
}

.icon-floderadd:before {
  content: '\e621';
}

.icon-import:before {
  content: '\e625';
}

.icon-download:before {
  content: '\e626';
}

.icon-folder:before {
  content: '\e615';
}

.icon-interview:before {
  content: '\e61c';
}

.icon-resume:before {
  content: '\e61d';
}

.icon-paperpen:before {
  content: '\e61e';
}

.icon-huiyuan:before {
  content: '\e611';
}

.icon-boshi:before {
  content: '\e613';
}

.icon-search:before {
  content: '\e60e';
}

.icon-xingxing:before {
  content: '\e60f';
}

.icon-gouwuche:before {
  content: '\e610';
}

.icon-xiaoxi:before {
  content: '\e609';
}

.icon-kecheng1:before {
  content: '\e60c';
}

.icon-liwu:before {
  content: '\e60d';
}

.icon-shoucang:before {
  content: '\e607';
}

.icon-dingdan:before {
  content: '\e608';
}

.icon-kecheng:before {
  content: '\e606';
}
